{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>N. ВИДЕО - Список сервисов</title>
    <link rel="stylesheet" href=" {% static 'css/navbar.css' %}">
    <link rel="stylesheet" href=" {% static 'css/basket.css' %}">
    <link rel="stylesheet" href=" {% static 'css/cards_grid.css' %}">
</head>

<body>
    <main class="list-of-datasets">

        {% include "navbar.html" %}


        <form method="GET" action="{% url 'time-calc-idx' user_id=current_user_id %}">

            <!-- Блок под навбаром -->
            <section class="dl-model-configurator-rect">
                <div class="dl-model-configurator-line">
                    <button type="submit" class="apply-btn">Применить</button>
                    <div class="dl-model-input-rect">
                        <label for="batch-size" class="dl-model-input-desc">Размер батча:</label>
                        <input type="number" id="batch-size" name="batch-size" class="dl-model-input-field"
                        value="{{ aimodel_vars.batch_size }}" min="1" readonly disabled/>
                    </div>
                    <div class="dl-model-input-rect">
                        <label for="epochs" class="dl-model-input-desc">Кол-во эпох:</label>
                        <input type="number" id="epochs" name="epochs" class="dl-model-input-field"
                        value="{{ aimodel_vars.epochs }}" min="1" readonly disabled/>
                    </div>
                    <div class="del-aimodel-rect">
                        <a href="{% url 'del-aimodel' user_id=current_user_id %}" class="del-aimodel-href" aria-label="Корзина">
                            <img class="recycle-bin-img" src="{% static 'svgs/recycle-bin.svg' %}" alt="" />
                            <span class="del-aimodel-href-text">Удалить всё</span>
                        </a>
                    </div>
                </div>
            </section>




            <!-- ============= тут начинается генерация карточек ======================= -->
            <div class="datasets-holder">
                {% for product in products %}
                <div class="one-dataset">
                <img src="{{ product.img }}" alt="{{ product.label }}">
                    <div class="one-dataset-text-rect">
                        <span>{{ product.label }}</span>
                        <span>Эталонная производительность: {{ product.benchmark_performance }}</span>
                        <span>Размер датасета: {{ product.dataset_size }}</span>
                        <span>Время обучения (минуты): {{ product.fitting_time }}</span>
                        <span>
                            <label for="gpus_cnt-{{ product.id }}" class="">Кол-во видеокарт:</label>
                            <input type="number" id="gpus_cnt-{{ product.id }}" name="gpus_cnt-{{ product.id }}"
                                class="card-gpus-cnt-input-field" value="{{ product.gpus_cnt }}" min="1" required/>
                        </span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>



        <!-- ================= Блок c размером корзины внизу страницы ============== -->
        <section class="dataset-busket-len-line">
            <div class="dataset-busket-len-rect">
                Товаров в вашей корзине: {{ basket_len }}
            </div>
        </section>



</body>

</html>