{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>N. ВИДЕО - Список сервисов</title>
    <link rel="stylesheet" href=" {% static 'css/navbar.css' %}">
    <!-- <link rel="stylesheet" href="{%static 'css/globals.css' %}"> -->
    <link rel="stylesheet" href=" {% static 'css/basket.css' %}">
    <link rel="stylesheet" href=" {% static 'css/cards_grid.css' %}">
</head>

<body>
    <main class="list-of-datasets">

        {% include "navbar.html" %}


        <!-- Блок под навбаром -->
        <section class="dl-model-configurator-rect">
            <form class="dl-model-configurator-line">
                <div class="dl-model-input-rect">
                    <label for="batch-size" class="dl-model-input-desc">Размер батча:</label>
                     <input type="number" id="batch-size" class="dl-model-input-field" value="64" readonly disabled/>
                </div>
                <div class="dl-model-input-rect">
                    <label for="epochs" class="dl-model-input-desc">Кол-во эпох:</label>
                    <input type="number" id="epochs" class="dl-model-input-field" value="50" readonly disabled/> 
                </div>
            </form>
        </section>



        <!-- ============= тут начинается генерация карточек ======================= -->
                {% for product in products %}
                <div class="one-dataset">
                <img src="{{ product.img }}" alt="{{ product.label }}" class="model-img-oncalc">
                    <div class="one-dataset-text-rect">
                        <span>{{ product.label }}</span>
                        <span>Эталонная производительность: {{ product.benchmark_performance }}</span>
                        <span>Размер датасета: {{ product.dataset_size }}</span>
                        <span>Время обучения (минуты): {{ product.estimate_time }}</span>
                    </div>
                </div>
                {% endfor %}



        <!-- ================= Блок c размером корзины внизу страницы ============== -->
        <section class="dataset-busket-len-line">
            <div class="dataset-busket-len-rect">
                Товаров в вашей корзине: {{ basket_len }}
            </div>
        </section>



</body>

</html>