{% load static %}


<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/card_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="'stylesheet" href="{%static 'css/globals'}">
  </head>
  <body> 
    <div class="dataset-desc">

      {% include "navbar.html" %}


      <!-- карточка  -->
      <div class="dataset-card">
        <img class="{{ card_data.label }}" src="{{ card_data.img }}" />
        <div class="dataset-rect-all">
          <div class="dataset-test-title">{{ card_data.label }}</div>
          <div class="dataset-rect-info">
            <div class="dataset-text-info">Характеристики:</div>
            <p class="dataset-text-info">Эталонная производительность.....{{ card_data.benchmark_performance }} эт-тов / сек.</p>
            <div class="dataset-text-info">Размер датасета..............................{{ card_data.dataset_size }} шт.</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
