.dataset-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0px 28px;
  position: relative;
  background-color: #ffffff;
}

.dataset-desc .frame {
  display: flex;
  height: 37px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 8px 394px 7px 115px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #333333;
}

.dataset-desc .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Inter-Regular", Helvetica;
  color: #ffffff;
  font-size: 16px;
  white-space: nowrap;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.dataset-desc .div {
  display: flex;
  width: 1678px;
  height: 145px;
  align-items: center;
  gap: 356px;
  padding: 55px 130px 50px 145px;
  position: relative;
  background-color: #ffffff;
}

.dataset-desc .n {
  position: relative;
  width: 85px;
  font-family: "Jim Nightshade-Regular", Helvetica;
  font-weight: 400;
  color: #de231e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.dataset-desc .span {
  font-family: "Jim Nightshade-Regular", Helvetica;
  font-weight: 400;
  color: #de231e;
  font-size: 20px;
  letter-spacing: 0;
}

.dataset-desc .text-wrapper-2 {
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
}

.dataset-desc .finding {
  display: flex;
  width: 590px;
  align-items: center;
  justify-content: center;
  gap: 378px;
  padding: 6px 13px 6px 16px;
  position: relative;
  margin-top: -2.50px;
  margin-bottom: -2.50px;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid;
  border-color: #a7a7a7;
}

.dataset-desc .text-wrapper-3 {
  position: relative;
  width: 163px;
  height: 33px;
  margin-top: -1.00px;
  margin-left: -6.50px;
  font-family: "Jomolhari-Regular", Helvetica;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.dataset-desc .group {
  position: relative;
  width: 33px;
  height: 33px;
  margin-right: -6.50px;
  background-color: #de231e;
  border-radius: 5px;
}

.dataset-desc .vector {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 6px;
  left: 6px;
}

.dataset-desc .overlap-group-wrapper {
  position: relative;
  width: 55px;
  height: 47px;
  margin-top: -3.50px;
  margin-bottom: -3.50px;
  margin-right: -39.00px;
}

.dataset-desc .overlap-group {
  position: relative;
  height: 47px;
}

.dataset-desc .rectangle {
  position: absolute;
  width: 55px;
  height: 45px;
  top: 1px;
  left: 0;
  background-color: #ffffff;
}

.dataset-desc .group-2 {
  position: absolute;
  width: 53px;
  height: 47px;
  top: 0;
  left: 2px;
}

.dataset-desc .basket {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 0;
  left: 11px;
}

.dataset-desc .text-wrapper-4 {
  position: absolute;
  top: 28px;
  left: 0;
  font-family: "Jomolhari-Regular", Helvetica;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.dataset-desc .dataset-card {
  position: relative;
  width: 983px;
  height: 469px;
  background-color: #ffffff;
}

.dataset-desc .chatgpt-image-sep {
  position: absolute;
  width: 392px;
  height: 392px;
  top: 38px;
  left: 46px;
  aspect-ratio: 1;
  object-fit: cover;
}

.dataset-desc .dataset-rect-all {
  display: flex;
  flex-direction: column;
  width: 352px;
  align-items: center;
  gap: 55px;
  padding: 30px 2px;
  position: absolute;
  top: 38px;
  left: 526px;
}

.dataset-desc .dataset-test-title {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Inter-Regular", Helvetica;
  color: #000000;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.dataset-desc .dataset-rect-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 2px 15px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.dataset-desc .dataset-text-info {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.dataset-desc .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}


.dataset-card img {
    max-width: 300%;
    height: 400px;
    object-fit: cover;
    border-radius: 4px;
}
